# example of credentials this repo need in .env fiele

# JWT Secrets
JWT_REGISTER_SECRET = 'cdcwrg3'

# FRONTEND Secrets
FRONTEND_URL ='http://localhost:3000'

# BCRYPT credentials
BCRYPT_SALT_ROUNDS=12

PORT = 9001

# Application Pagination
page_limit=10
page_offset=0

#SELF BACKEND FRONTEND_URL
SELF_URL='http://localhost:9001'

# DB configs
DB_POSTGRES_TYPE='postgres'
DB_POSTGRES_HOST='database'
DB_POSTGRES_PORT=5432        # 5433
DB_POSTGRES_USERNAME='postgres'
DB_POSTGRES_PASSWORD=123     # sumit123
DB_POSTGRES_DATABASE='feedloop'

# docker user
POSTGRES_USER= postgres
POSTGRES_PASSWORD= 123
POSTGRES_DB=feedloop