.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2%;
    padding: 2%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    gap: 2%;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 16px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name {
    width: 60%;
    font-weight: 800;
    font-size: 1.5em;
}

.role {
    width: 40%;
    text-align: right;
    text-transform: capitalize;
}

.email {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}